<div class="page-header">
  <div class="row mt-2">
    <ul>
      <h1>
        <%= current_user.email %>'s Leagues
      </h1>
    </ul>
    <ul class=" ml-auto mr-3">
      <a href="/leagues/new" class="btn btn-block btn-outline-success text-dark">New League</a>
    </ul>
  </div>
</div>

<!--filters-->
<div class="row mb-1 mt-2">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "leagues_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :league_name_cont, "League Name" %>
    <%= f.text_field :league_name_cont, :class => "form-control", :placeholder => "League name" %>
  </div>

  <div class="form-group">
    <%= f.label :scoring_cont, "Type of Scoring" %>
    <%= f.text_field :scoring_cont, :class => "form-control", :placeholder => "'norm' or 'ppr'" %>
  </div>


      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/leagues" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
     <a class="btn btn-outline-secondary btn-block mb-3" data-toggle="collapse" href="#leagues_filters">
      Show Filters
    </a>
  </div>
</div>



<!--list of leagues-->
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Scoring</th>
        <th>Projected Placement</th>
        <th></th>
      </tr>

      <% @leagues.each do |league| %>
      <tr>
        <td><%= league.created_at.strftime("%_m/%d") %></td>
        <td><%= league.league_name %></td>
        <td><%= league.scoring %></td>
            <% if Draft.where(draft_id: league.id.to_s).count == 0 %>
              <td></td>
            <% else %>
              <% team_points = [] %>
              <% (1..league.num_teams.to_i).each do |team_num| %>
                <% tp = 0 %>
                <% x = Draft.where('draft_id = ? AND team = ?', league.id, team_num) %>
                <% x.each do |plr| %>
                  <% pl = Player.find(plr.players_id) %>
                  <% tp += pl.points %>
                <% end %>
                <% tp = tp/17.0 %>
                <% team_points.push(tp) %>
              <% end %>
              <% team_ranks = team_points.each_index.max_by(league.num_teams.to_i){|i| team_points[i]} %>
              <% my_rank = team_ranks.find_index(league.user_first_pick.to_i - 1)%>
              <% my_rank = (my_rank == nil ? 1 : my_rank) + 1 %>
              <td class="text-center"><%= my_rank.ordinalize %></td>
        <% end %>
        <td>
          <div class="btn-group pull-right">
          <% if Draft.where(draft_id: league.id.to_s).count == 0 %>
          <% if current_user == league.user %>
            <a href="/leagues/<%= league.id %>/draft" class="btn btn-success">Start Drafting</a>
            <a href="/delete_league/<%= league.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
          <% else %>
          <a href="/leagues/<%= league.id %>" class="btn btn-primary">View</a>
          
          <% if current_user == league.user %>
            <a href="/leagues/<%= league.id %>/draft" class="btn btn-warning">Keep Drafting</a>
            <a href="/delete_league/<%= league.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
        </div>
        <% end %>
      </tr>
      <% end %>
    </table>
    <%= paginate @leagues, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
