<div class="page-header">
  <h3>League #<%= @league.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @league.user_id %></dd>

      <dt>Num teams</dt>
      <dd><%= @league.num_teams %></dd>

      <dt>Scoring</dt>
      <dd><%= @league.scoring %></dd>

      <dt>User first pick</dt>
      <dd><%= @league.user_first_pick %></dd>

      <dt>League name</dt>
      <dd><%= @league.league_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leagues" class="btn btn-primary">
        Back
      </a>
      <a href="/leagues/<%= @league.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_league/<%= @league.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A League has many drafts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drafts
      </li>

      <% @league.drafts.each do |draft| %>
        <li class="list-group-item">
          <a href="/drafts/<%= draft.id %>">
            <%= draft.draft_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drafts/<%= draft.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drafts/<%= draft.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_draft/<%= draft.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A League has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @league.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
