<div class="page-header">
  <h3>League #<%= @league.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @league.user.present? %>
          <a href="/users/<%= @league.user_id %>">
            <%= @league.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Num teams</dt>
      <dd><%= @league.num_teams %></dd>

      <dt>Scoring</dt>
      <dd><%= @league.scoring %></dd>

      <dt>User first pick</dt>
      <dd><%= @league.user_first_pick %></dd>

      <dt>League name</dt>
      <dd><%= @league.league_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leagues" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @league.user %>
        <a href="/leagues/<%= @league.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_league/<%= @league.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A League has many drafts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drafts
      </li>

      <% @league.drafts.each do |draft| %>
        <li class="list-group-item">
          <a href="/drafts/<%= draft.id %>">
            <%= draft.draft_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drafts/<%= draft.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drafts/<%= draft.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_draft/<%= draft.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_draft" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for draft_id -->
      <div class="form-group">
        <label for="draft_id" class="control-label">
          Draft
        </label>

        <%= select_tag(:draft_id, options_from_collection_for_select(League.all, :id, :league_name), :class => "form-control") %>
      </div>

      <!-- Label and input for players_id -->
      <div class="form-group">
        <label for="players_id" class="control-label">
          Players
        </label>

        <%= select_tag(:players_id, options_from_collection_for_select(Player.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for pick_num -->
      <div class="form-group">
        <label for="pick_num" class="control-label">
          Pick num
        </label>

        <input type="text" id="pick_num" name="pick_num" placeholder="Pick num" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Draft
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A League has many players -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Players
      </li>

      <% @league.players.each do |player| %>
        <li class="list-group-item">
          <a href="/players/<%= player.id %>">
            <%= player.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
