<div class="page-header">
  <h3><%= @league.league_name %></h3>
</div>

<hr>
<div class="card border-dark mb-3">
  <div class="card-header"><h3>Projections</h3></div>
  <div class="card-body">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col text-dark" class="py-3 text-dark">Rank</th>
          <th scope="col text-dark" class="py-3 text-dark">Team</th>
          <th scope="col text-dark" class="py-3 text-dark text-right">Average Weekly Score</th>
          <th scope="col text-dark" class="py-3 text-dark text-right">Average ADP (lower is better)</th>
        </tr>
      </thead>
      <tbody>
        <% y = 1 %>
        <% @team_ranks.each do |rnk| %>
          <tr class="py-2">
            <th scope="row" class="py-2 text-dark"><%= y.ordinalize %></th>
            <td class="py-2 text-dark"><%= (rnk + 1) == @my_pick.to_i ? "My Team" : "Opponent #{rnk + 1}" %></td>
            <td class="py-2 text-right text-dark"><%= @team_points[rnk].round(2) %></td>
            <td class="py-2 text-right text-dark"><%= @team_adp[rnk].round(2)%></td>
            <% y+= 1%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--team tabs-->
        <div class="card border-dark mb-3">
            <div class="card-header">
              <h3>Team Rosters</h3>
            </div>
            <div class="card-body">
              <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opponents</h5>
              <ul class="nav nav-pills">
                    <li class="nav-item nav-primary mx-0">
                      <a class="nav-link active" data-toggle="pill" href="#<%=@my_pick.to_i%>">My Team</a>
                    </li>
                <% (1..@num_teams).each do |team_num| %>
                  <% if team_num == @my_pick.to_i %>

                  <% else %>
                    <li class="nav-item mx-0">
                      <a class="nav-link" data-toggle="pill" href="#<%=team_num%>"><%=team_num%></a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="card-body">
            <div id="myTabContent" class="tab-content mb-5">
                <% (1..@num_teams).each do |team_num| %>
                  <% if team_num == @my_pick.to_i %>
                    <div class="tab-pane fade show active" id="<%=team_num%>">
                      <% x = Draft.where('draft_id = ? AND team = ?', @league.id, team_num) %>
                      <% xx = 0 %>
                      <div class="row">
                      <% x.each do |plr| %>
                        <% pl = Player.find(plr.players_id) %>
                        <% xx += 1 %>
                          <div class="list-group-item col-md-6 text-dark ">
                            <%= "#{xx}. #{pl.name} | #{pl.position.upcase}" %>
                          </div>
                      <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div class="tab-pane fade show" id="<%=team_num%>">
                      <% x = Draft.where('draft_id = ? AND team = ?', @league.id, team_num) %>
                      <% xx = 0 %>
                      <div class="row">
                      <% x.each do |plr| %>
                        <% pl = Player.find(plr.players_id) %>
                        <% xx += 1 %>
                        
                          <div class="list-group-item col-md-6 text-dark ">
                            <%= "#{xx}. #{pl.name} | #{pl.position.upcase}" %>
                          </div>
                        
                      <% end %>
                      </div>
                    </div>
                  <% end %>
              <% end %>

              </div>
            </div>
          </div>


<hr>
<div class="row">
  <div class="col-md-12 mb-2">
    <h5>Settings</h5>
      <div class="row">
      <div class="col-md-2">
      <dt class="text-dark">Number of Teams</dt>
      <dd><%= @league.num_teams %></dd>
      </div>
      <div class="col-md-2">
      <dt class="text-dark">Scoring</dt>
      <dd><%= @league.scoring %></dd>
      </div>  
      <div class="col-md-2">
      <dt class="text-dark">Your First Pick</dt>
      <dd><%= @league.user_first_pick %></dd>
      </div>  
      </div>
    </dl>
    <hr>
    <div class="btn-group btn-group-justified">
      <a href="/leagues" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @league.user %>
        <a href="/leagues/<%= @league.id %>/draft" class="btn btn-warning">
          Keep Drafting
        </a>
        <a href="/delete_league/<%= @league.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

