<div class="page-header">
  <h1 class="mt-2">
    Players
    <!--<a href="/players/new" class="btn btn-lg btn-success">New Player</a>-->
  </h1>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "players_filters" do |f| %>
      <p class="lead">Narrow results:</p>
        <div class="form-group">
          <%= f.label :name_cont, "Name" %>
          <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Player McPlayerface" %>
        </div>
        
        <div class="form-group">
          <%= f.label :position_cont, "Position" %>
          <%= f.text_field :position_cont, :class => "form-control", :placeholder => "qb, wr, rb, te, de, or k" %>
        </div>
        
        <div class="form-group">
          <%= f.label :team_cont, "Team" %>
          <%= f.text_field :team_cont, :class => "form-control", :placeholder => "Team by city abbreviation, e.g. HOU" %>
        </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/players" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-outline-secondary btn-block mb-3" data-toggle="collapse" href="#players_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Projected Points</th>
        <th>ADP</th>
        <th></th>
      </tr>

      <% @players.each do |player| %>
      <tr>
        <td class="text-center text-dark py-2"><%= player.name %></td>
        <td class="text-center text-dark py-2"><%= player.position.upcase %></td>
        <td class="text-center text-dark py-2"><%= player.team %></td>
        <td class="text-center text-dark py-2"><%= player.points.round(2) %></td>
        <td class="text-center text-dark py-2"><%= player.adp.round(2) %></td>
        <td class="py-2">
          <a href="/players/<%= player.id %>" class="btn btn-outline-primary btn-sm">Details</a>
          <!--<a href="/players/<%= player.id %>/edit" class="btn btn-warning">Edit</a>-->
          <!--<a href="/delete_player/<%= player.id %>" class="btn btn-danger" rel="nofollow">Delete</a>-->
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @players, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
