<div class="page-header">
  <h1><%= @player.name %></h1>
  <div class="row">
    <div class="col-md-3">
      <h3><%= @player.team %> <%= @player.position %></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h5 class="text-center">Projected Points</h5>
      <p class="text-center"><%= @player.points.round(2) %></p>
    </div>
    <div class="col-md-4">
      <h5 class="text-center">Average Draft Position</h5>
      <p class="text-center"><%= @player.adp.round(2) %></p>
    </div>
    <div class="col-md-4">
      <h5 class="text-center">Position Rank</h5>
      <p class="text-center"><%= @player.position_rank.ordinalize %></p>
    </div>
  </div>
</div>
<hr>
<h3>Biography</h3>
<p>Player bio would go here if I had it.</p>

<hr>
<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/players" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

