<!-- Validation failure messages -->
<% if @draft.errors.any? %>
  <% @draft.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Draft #<%= @draft.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_draft/<%= @draft.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for draft_id -->
      <div class="form-group">
        <label for="draft_id" class="control-label">
          Draft
        </label>

        <%= select_tag(:draft_id, options_from_collection_for_select(League.all, :id, :league_name, @draft.draft_id), :class => "form-control") %>
      </div>

      <!-- Label and input for players_id -->
      <div class="form-group">
        <label for="players_id" class="control-label">
          Players
        </label>

        <input type="text" id="players_id" name="players_id" placeholder="Players" class="form-control" value="<%= @draft.players_id %>">
      </div>

      <!-- Label and input for pick_num -->
      <div class="form-group">
        <label for="pick_num" class="control-label">
          Pick num
        </label>

        <input type="text" id="pick_num" name="pick_num" placeholder="Pick num" class="form-control" value="<%= @draft.pick_num %>">
      </div>

      <button class="btn btn-warning">
        Update Draft
      </button>
      or
      <a href="/drafts/<%= @draft.id %>">Cancel</a>
    </form>
  </div>
</div>
