<div class="page-header">
  <h1>
    Drafts
    <a href="/drafts/new" class="btn btn-lg btn-success">New Draft</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Draft</th>
        <th>Players</th>
        <th>Pick num</th>
        <th>Actions</th>
      </tr>

      <% @drafts.each do |draft| %>
      <tr>
        <td>
          <% if draft.league.present? %>
            <a href="/leagues/<%= draft.league.id %>">
              <%= draft.league.league_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if draft.players.present? %>
            <a href="/players/<%= draft.players.id %>">
              <%= draft.players.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= draft.pick_num %></td>
        <td>
          <a href="/drafts/<%= draft.id %>" class="btn btn-primary">Show</a>
          <a href="/drafts/<%= draft.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_draft/<%= draft.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @drafts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
