<div class="page-header">
  <h1>
    Drafts
    <a href="/drafts/new" class="btn btn-lg btn-success">New Draft</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "drafts_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :pick_num, "Pick num" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :pick_num_gteq, :class => "form-control", :placeholder => "Pick num greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :pick_num_lteq, :class => "form-control", :placeholder => "Pick num less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :created_at, "Player Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='playersgteqcreated_atPicker'>
                  <%= f.text_field :players_created_at_gteq, :class => "form-control", :placeholder => "Player Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='playerslteqcreated_atPicker'>
                  <%= f.text_field :players_created_at_lteq, :class => "form-control", :placeholder => "Player Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#playersgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#playerslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#playersgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#playerslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#playerslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#playersgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :league_league_name_cont, "League league_name contains" %>
      <%= f.text_field :league_league_name_cont, :class => "form-control", :placeholder => "League league_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/drafts" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#drafts_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Draft</th>
        <th>Players</th>
        <th>Pick num</th>
        <th>Actions</th>
      </tr>

      <% @drafts.each do |draft| %>
      <tr>
        <td>
          <% if draft.league.present? %>
            <a href="/leagues/<%= draft.league.id %>">
              <%= draft.league.league_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if draft.players.present? %>
            <a href="/players/<%= draft.players.id %>">
              <%= draft.players.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= draft.pick_num %></td>
        <td>
          <a href="/drafts/<%= draft.id %>" class="btn btn-primary">Show</a>
          <a href="/drafts/<%= draft.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_draft/<%= draft.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @drafts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
